body {
    margin: 0;
    padding: 0;
}

.column.heading {
    padding: 0;
}

.subtitle {
        font-family: "Open Sans Condensed", sans-serif;
        font-weight: 300;
        line-height: 1.5;
        font-size: 20px;
    }


    #changeColor,
    button{
        background: #7510F7;
      }

   
.filter-blue {
filter: invert(12%) sepia(99%) saturate(6729%) hue-rotate(270deg) brightness(95%) contrast(106%);
}

a{
    font-size: 16px;
    color: #7510F7;
}

