body {
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.column.heading {
    padding: 0;
}

.subtitle {
        font-family: "Open Sans Condensed", sans-serif;
        font-weight: 300;
        line-height: 1.5;
        font-size: 20px;
    }


    #changeColor,
    button{
        background: #7510F7;
      }

   